{% extends "base.html" %}
{% block content %}

  <h1>Author List</h1>
  <div>
    <form class="navbar-form navbar-left" id="searchform" action="{% url 'authors:author' %}" method="get"
          accept-charset="utf-8">
      <div class="form-group">
        <input type="text" class="form-control" name="q" placeholder="Search Authors">
      </div>
      <button type="submit" class="btn btn-default">Go!</button>
    </form>
  </div>
  <br>
  <br>
  <br>
  <div>
    <ul>
      {% for obj in object_list %}
        <li><a href='{{ obj.get_absolute_url }}'>{{ obj.author_name }}</a></li>
      {% endfor %}
    </ul>
  </div>

{% endblock content %}