{% extends "base.html" %}
{% load static %}
{% block title %}
{{title}}
{% endblock title %}
{% block content %}

  <div class="book-slider">
    <div class="container">
      <div class="owl-carousel">
        <div class="carousel-slide-content">
          <div class="book-slider-image">
            <a href="#"><img src="{% static 'images/books/da-vinci-code.jpg' %}" alt="filename"></a>
          </div>
          <div class="book-slider-content">
            <h3 class="amaranth black-shadow">Da Vinci Code</h3>
            <br>
            <p>Written by <b>Dan Brown</b></p>
            <p>Published on 2010</p>
          </div>
        </div>

        <div class="carousel-slide-content">
          <div class="book-slider-image">
            <a href="#"><img src="{% static 'images/books/angels-n-demons.jpg' %}" alt="filename"></a>
          </div>
          <div class="book-slider-content">
            <h3 class="amaranth black-shadow">Angels &amp; Demon</h3>
            <br>
            <p>Written by <b>Dan Brown</b></p>
            <p>Published on 2008</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <h4>{{title}}</h4>
      </div>
    </div>
    <hr>
  </div>

  <!-- Sidebar Widgets Column -->
  <!-- <div class="col-md-4">
    <form class="navbar-form navbar-left" id="searchform" action="{% url 'books:book' %}" method="get" accept-charset="utf-8">
      <div class="form-group">
        <input type="text" class="form-control" name="q" placeholder="Search Books">
      </div>
      <button type="submit" class="btn btn-default">Go!</button>
    </form>
  </div> -->
{% endblock content %}