{% extends "base.html" %}
{% load static %}
{% block title %}
{{title}}
{% endblock title %}
{% block content %}
  <div class="book-slider">
    <div class="container">
      <div class="owl-carousel">
        <div class="carousel-slide-content">
          <div class="book-slider-image">
            <a href="#"><img src="{% static 'images/books/da-vinci-code.jpg' %}" alt="filename"></a>
          </div>
          <div class="book-slider-content">
            <h3 class="amaranth black-shadow">Da Vinci Code</h3>
            <br>
            <p>Written by <b>Dan Brown</b></p>
            <p>Published on 2010</p>
          </div>
        </div>

        <div class="carousel-slide-content">
          <div class="book-slider-image">
            <a href="#"><img src="{% static 'images/books/angels-n-demons.jpg' %}" alt="filename"></a>
          </div>
          <div class="book-slider-content">
            <h3 class="amaranth black-shadow">Angels &amp; Demon</h3>
            <br>
            <p>Written by <b>Dan Brown</b></p>
            <p>Published on 2008</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mb0">
      <div class="col s12 card mt15">
        <h3 class="center amaranth mt15 mb15">{{title}}</h3>
      </div>
    </div>

    <div class="row card" id="BookContentRoot">
      <a href="javascript:void(0)" onclick="ToggleFilter(event)" class="filter-toggler"><i class="fas fa-chevron-right"></i></a>
      <!-- <a href="javascript:void(0)" onclick="CloseFilter(event)" class="filter-close"><i class="fas fa-times"></i></i></a> -->
      <div class="col m12 l4 s12 animated" id="BookContentFilter">
        <div class="filter-header">
          <h5 class="zcool center ma0 fs-30 bold">Filters</h5>
        </div>
        <!-- <a href="javascript:void(0)" style="float: right; margin-top: 4px" onclick="SwitchFilterState(event)" class="switch-filter-state pull-right section-header">
          <i class="fas fa-arrow-circle-up"></i>
        </a> -->
        <div class="filter-section">
          <b class="fs-16">Publication Year</b>
          <div class="row ma0">
            <div class="col s12 pr25">
              <div class="year-filter mr15">
                <select id="FromYear">
                  <option value="2001">2001</option>
                  <option value="2001">2001</option>
                </select>
                <strong> - </strong>
                <select id="ToYear">
                  <option value="2010">2010</option>
                  <option value="2011">2011</option>
                </select>
              </div>
            </div>
          </div>
          <div class="category-filter mt10 mb10">
            <div class="filter-group">
              <a href="javascript:void(0)" onclick="FilterGroupStateChange(event)" data-target="CategorySelects"><i class="fas fa-plus-square"></i></a>
              <b>Categories</b>
            </div>
            <div class="filter-content" id="CategorySelects">
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" />
                    <span class="max-content-width">Action</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" />
                    <span class="max-content-width">Comedy</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" />
                    <span class="max-content-width">Islamic</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" />
                    <span class="max-content-width">Liberation War 1971</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" />
                    <span class="max-content-width">Biography</span>
                  </label>
                </p>
            </div>
          </div>

          <div class="author-filter mt10 mb10">
            <div class="filter-group">
              <a href="javascript:void(0)" onclick="FilterGroupStateChange(event)" data-target="AuthorSelects"><i class="fas fa-plus-square"></i></a>
              <b>Authors</b>
            </div>
            <div class="filter-content" id="AuthorSelects">
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" />
                    <span class="max-content-width">Anisur Rahman</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" />
                    <span class="max-content-width">Humayun Ahmed</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" />
                    <span class="max-content-width">Jafor Iqbal</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" />
                    <span class="max-content-width">Dr. Khandokar Abdullah Jahangir</span>
                  </label>
                </p>
            </div>
          </div>

          <div class="publication-filter mt10 mb10">
            <div class="filter-group">
              <a href="javascript:void(0)" onclick="FilterGroupStateChange(event)" data-target="PublicationSelects"><i class="fas fa-plus-square"></i></a>
              <b>Publishers</b>
            </div>
            <div class="filter-content" id="PublicationSelects">
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" />
                    <span class="max-content-width">Prothoma Prokashoni</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" />
                    <span class="max-content-width">Kotha Prokashoni</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" />
                    <span class="max-content-width">Captain Publishers</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" />
                    <span class="max-content-width">Bangladesh law book company</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" />
                    <span class="max-content-width">Parama Publishers & Distributors Ltd</span>
                  </label>
                </p>
            </div>
          </div>

        </div>
      </div>

      <!-- Book list area -->
      <div class="col m12 l8 s12" id="BookContentBody">
        <div class="filter-header">
          <div class="input-field col s6 m3">
            <select class="fs-12">
              <option value="name">Name</option>
              <option value="rating">Rating</option>
              <option value="year">Publication Year</option>
            </select>
            <label>Order by</label>
          </div>
          <div class="input-field col s6 m2">
            <select>
              <option value="asc">ASC</option>
              <option value="desc">DESC</option>
            </select>
          </div>
          <div class="input-field col s12 m7 search-books">
            <input type="text" placeholder="Search Here" id="SearchBook">
          </div>
        </div>
      </div>
      <!-- END -->
    </div>
  </div>

  <!-- Sidebar Widgets Column -->
  <!-- <div class="col-md-4">
    <form class="navbar-form navbar-left" id="searchform" action="{% url 'books:book' %}" method="get" accept-charset="utf-8">
      <div class="form-group">
        <input type="text" class="form-control" name="q" placeholder="Search Books">
      </div>
      <button type="submit" class="btn btn-default">Go!</button>
    </form>
  </div> -->
{% endblock content %}