{% extends "base.html" %}
{% block content %}

  <div class="col-lg-3">
    <h1>Book Details</h1>
    <img src='{{ book.book_image.url }}' class='img-responsive'/>
    <h2>{{ book.book_name }}</h2>
    <h3>Author: </h3>
    {% for obj in book.authors.all %}
      <h4>{{ obj.get_name }}</h4>
    {% endfor %}
    <p>{{ book.book_description }}</p>
  </div>

  <br/>

  <div class="col-lg-9">
    <h1>Review</h1>

    {% if new_review %}
      <h2>Your review has been added.</h2>
    {% else %}
      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Review:</h5>
        <div class="card-body">
          <form action="." method="post">
            <div class="form-group">
              {{ review_form.review_description }}
              {% csrf_token %}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    {% endif %}


    {% for review in reviews %}
      <div class="review">
        <p class="info">
          {% if  review.user.first_name and review.user.last_name %}
            <h4>{{ review.user.first_name }} {{ review.user.last_name }}({{ forloop.counter }})</h4>
          {% else %}
            <h4>{{ review.user }}({{ forloop.counter }})</h4>
          {% endif %}
        </p>
        {{ review.review_description|linebreaks }}
      </div>


    {% empty %}
      <p>There are no comments yet.</p>
    {% endfor %}

  </div>

{% endblock content %}