{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{title}}
{% endblock title %}
{% block content %}
<div class="home-content" id="home" style="z-index: 0 !important;">
    <div class="container" style="padding-top: 100px; padding-bottom: 30px;">
        <div class="row">
            <div class="col m6 l7 s12">
                <div class="home-left-pane animated fadeInLeft delay-1s">
                    <h2>Welcome to Boipoka</h2>
                    <p>A large community and discussion site for <strong>book lovers</strong></p>
                    <p>Dive in to know more</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% include 'books.html' %}
{% include 'about.html' %}

<script type="text/javascript">
    $(document).ready(function(){
        $("#LoginEmail").val('');
        $("#LoginPassword").val('');
    });
</script>
{% endblock %}