{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="home-content" id="home" style="z-index: 0 !important;">
    <div class="container" style="padding-top: 100px; padding-bottom: 30px;">
        <div class="row">
            <div class="col m6 l7 s12">
                <div class="home-left-pane animated fadeInLeft delay-1s">
                    <h2>Welcome to Boipoka</h2>
                    <p>A large community and discussion site for <strong>book lovers</strong></p>
                    <p>Dive in to know more</strong></p>
                </div>
            </div>
            <div class="col m6 l5 s12">
                <form class="login-area animated fadeInRight delay-1s" >
                    <h4 class="">Sign in</h4>                    
                    <div class="input-field">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email Address</label>
                    </div>
                    <div class="input-field">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>        
                    <div class="input-field">
                        <p>Remember me?</p>
                    </div>
                
                    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
                    <div>
                        <a href="">Forgot password?</a>
                    </div>  
                    <p>Not a member? <a href='{% url "register" %}' data-toggle="modal" data-target="#registerModal">Register</a></p>
                    <p>or sign in with:</p>
                    <div class="social-login">
                        <a class="light-blue-text">
                            <i class="fab fa-google"></i>
                        </a>   
                        <a class="light-blue-text">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="light-blue-text">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="light-blue-text">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>         
                </form>
            </div>
        </div>
        
    </div>
</div>
{% include 'books.html' %}
{% include 'about.html' %}
{% include 'register.html' %}

<script type="text/javascript">
    $(document).ready(function(){
        $("#LoginEmail").val('');
        $("#LoginPassword").val('');
    });
</script>
{% endblock %}