{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static%}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/user-profile.css'%}">
    <script src="{% static 'js/app/user-profile.js' %}" type="text/javascript"></script>

    <div class="container">
        <div class="row">
            <div class="col l4 m12 s12 xs12">
                <div class="left-user-pan card center">
                    <div class="user-profile-picture">
                        <img src="{% static 'images/demo-profile.jpg' %}" alt="profile-picture"/>
                        <div class="hover-profile-image valign-wrapper">
                            <ul>
                                <li><a href="javascript:void(0)" id="ChangeProfilePicture">Change</a></li>
                                <li><a href="javascript:void(0)" id="ViewProfilePicture">View</a></li>
                            </ul>
                            <input type="file" id="ProfilePictureUrl" accept="image/jpg, image/jpeg" hidden />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l8 m12 s12 xs12">
                <div class="right-user-pan card">
                    <div class="profile-page-head">
                        <strong>Profile</strong>
                        <ul>
                            <li><a href="javascript:void(0)"><i class="far fa-bell"></i><sup></sup></a></li>
                            <li><a href="javascript:void(0)"><i class="far fa-envelope"></i><sup></sup></a></li>
                        </ul>
                    </div>
                </div>
                <div class="profile-basic-info card">
                    <div class="basic-info">
                        <div class="basic-info-header">
                            <p><strong>Basic Information</strong></p>
                            <button class="submit-basic-info submit-profile" onclick="Submit(event, 'edit-basic-info')"><i class="fas fa-check fa-2x"></i></button>
                            <a href="javascript:void(0)" class="edit-basic-info"><i class="far fa-edit"></i></a>                            
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="profile-contact-info card">
                    <div class="contact-info">
                        <div class="contact-info-header">
                            <p><strong>Contact Information</strong></p>
                            <button class="submit-contact-info submit-profile" onclick="Submit(event, 'edit-contact-info')"><i class="fas fa-check fa-2x"></i></button>
                            <a href="javascript:void(0)" class="edit-contact-info"><i class="far fa-edit"></i></a>                            
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}