{% extends 'base.html' %}

{% block content %}
  <h1 class="page-header">Reviews</h1>

  <p>
    <button type="button"
            class="btn btn-primary js-create-review"
            data-url="{% url 'review_create' %}">
      <span class="glyphicon glyphicon-plus"></span>
      New book
    </button>
  </p>

  {% for review in reviews %}
    <tr>
      <td>{{ review.user }}</td>
      <td>{{ review.book }}</td>
      <td>{{ review.review_description }}</td>
      <td>
        <button type="button"
                class="btn btn-warning btn-sm js-update-review"
                data-url="{% url 'review_update' book.id %}">
          <span class="glyphicon glyphicon-pencil"></span> Edit
        </button>
      </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="8" class="text-center bg-warning">No review</td>
    </tr>
  {% endfor %}

{% endblock %}