{% extends "base.html" %}
{% load static %}


{% block content %}
    <div id="grid"></div>
    <script>
        $(document).ready(function () {
            var dataJson = "{% url 'test_json' %}";
            console.log(dataJson);
            $("#grid").kendoGrid({
                dataSource: {
                    //type: "odata",
                    transport: {
                        read: { //"https://demos.telerik.com/kendo-ui/service/Northwind.svc/Customers"
                            url: '/test/book/',
                            dataType: "json",
                            contentType: 'application/json; charset=utf-8',
                            type: 'GET',
                        }
                    },
                    /*schema: {
                        total: "count",
                        data: "result",
                    },*/
                    pageSize: 5
                },
                columns: [
                    /*{
                        field: "id",
                        width: 240
                    }, */
                    {
                        field: "name",
                    }
                    /*{
                        field: "no_of_page",
                    }*/
                ]
            });
        });
    </script>
{% endblock content %}