{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

    <form method="get">
        {#        {{ filter.form.as_p }}#}

        <div class="row">
            <div class="col s12">

                <select name="{{ filter.form.order.name }}" id="{{ filter.form.order.auto_id }}">
                    {% for choice in filter.form.order %}
                        <option value="{{ choice.data.value }}">{{ choice.choice_label }}</option>
                    {% endfor %}
                </select>


            </div>
            <div class="col s4">
                <h5>Publication</h5>
                {% for choice in filter.form.publication %}

                    <p>
                        <label>
                            {{ choice.tag }}
                            <span class="max-content-width">{{ choice.choice_label }}</span>
                        </label>
                    </p>

                {% endfor %}
            </div>

            <div class="col s4">
                <h5>Author</h5>
                {% for choice in filter.form.authors %}

                    <p>
                        <label>
                            {{ choice.tag }}
                            <span class="max-content-width">{{ choice.choice_label }}</span>
                        </label>
                    </p>

                {% endfor %}
            </div>

            <div class="col s4">
                <h5>Category</h5>
                {% for choice in filter.form.categories %}

                    <p>
                        <label>
                            {{ choice.tag }}
                            <span class="max-content-width">{{ choice.choice_label }}</span>
                        </label>
                    </p>

                {% endfor %}
            </div>
        </div>


        <button type="submit">Search</button>

        <button type="button" onclick="ShowParameter()">Show</button>

    </form>


    <ul>
        {% for book in filter.qs %}
            <li>{{ book.name }}</li>
        {% endfor %}
    </ul>

{% endblock %}