{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>Book Review | {% block title %}{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'stylesheets.html' %}
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
</head>

<body>
    {% include 'register.html' %}
    {% include 'navigation.html' %}
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'scrolltop.html'%}
    {% include 'scripts.html' %}
</body>

<footer class="page-footer blue-grey darken-4">
    {% include 'footer.html'%}
</footer>

</html>