<div class="container">
    <div class="row">
        <div class="col s12 m7 l7">
            <h5 class="center bold">Write To Us</h5>
            <br>
            <p class="amaranth mt0 pl10">We'll love to hear from you. Let us know if you've any suggestion or feature
                you want.</p>
            <form class="col s12 contact-form">
                <div class="row mb0">
                    <div class="input-field col m6 s12 amaranth">
                        <input id="senders_name" type="text" class="validate footer-input">
                        <label for="senders_name">Your Name</label>
                    </div>
                    <div class="input-field col m6 s12 amaranth">
                        <input id="senders_email" type="email" class="validate footer-input">
                        <label for="senders_email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field amaranth">
                            <textarea id="message" class="materialize-textarea footer-input"></textarea>
                            <label for="message">Your message</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="waves-effect waves-light btn right amaranth"><i class="material-icons far fa-paper-plane left"></i>Send</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col s12 m4 offset-m1 l4 offset-l1">
            <h5 class="center bold">Contacts</h5>
            <br>
            <div class="contacts-info">
                <span class="pt10 pb10"><i class="fas fa-home"></i>&emsp;<b class="regular amaranth">Gopibag 4th Street,
                        RK mission road<br><br></b></span>
                <span class="pt10 pb10"><i class="fas fa-phone-square"></i>&emsp;<b class="regular amaranth">+02 366
                        5458<br><br></b></span>
                <span class="pt10 pb10"><i class="fas fa-mobile-alt"></i>&emsp;<b class="regular amaranth">+088 01700
                        225 226<br><br></b></span>
                <span class="pt10 pb10"><i class="fas fa-globe-asia"></i>&emsp;<b class="regular amaranth"><a
                            href="https://www.facebook.com/shahjahan.hossain.shahed/">www.dynamicduo24.com</a></span>
            </div>
            <br><br>
            <div class="contacts-info-social">
                <h6 class="amaranth fs-20 center">Follow Us</h6>
                <div class="social-links center">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-github-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="footer-copyright">
    <div class="container">
        <div class="row mb0">
            <div class="col s12">
                <p class="center">Copyright &copy; {% now "Y"%} <a href="#"
                        class="grey-text text-lighten-4">DynamicDuo</a>. All right reserved</p>
            </div>
        </div>
    </div>
</div>