{% load crispy_forms_tags %}

    <!-- Modal -->
    <div id="AuthenticationModal" class="modal authentication-modal">
        <div class="modal-content">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s6"><a class="active" href="#Login">Sign In</a></li>
                        <li class="tab col s6"><a href="#Register">Sign Up</a></li>
                    </ul>
                </div>

                <!-- Login Form -->
                <div id="Login" class="col s12">
                    <br>
                    <form method='POST' action="{% url 'login' %}">
                        <div class="row">
                            <div class="col s12 m6 l6">
                                <h6 class="pt15 pb15 bold">Sign in with your credentials</h6>
                                <div class="input-field">
                                    <input name="username" id="username" type="text" class="validate">
{#                                                    {{ loginForm.username }}#}
{#                                    <input type="text" name="username" required="" id="id_username">#}
                                    <label for="username">User Name</label>
                                </div>
                                <div class="input-field">
                                    <input name="password" id="password" type="password" class="validate">
{#                                                    {{ loginForm.password }}#}
{#                                    <input type="password" name="password" required="" id="id_password">#}
                                    <label for="password">Password</label>
                                </div>
                                <div id="errorlogin" style="color:red"></div>
                                <div>
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in"/>
                                            <span class="max-content-width">Remember me</span>
                                        </label>
                                    </p>
                                </div>
                                <div style="line-height: 55px;">
                                    <a href="#" class="">Forgot password?</a>
{#                                    <button class="btn btn-info btn-large right" type="submit" v#}
{#                                        Login#}
{#                                    </button>#}
                                    <input type="button" class="btn btn-default" value="Login" onclick="Login()">
                                </div>
                            </div>
                            <div class="col s12 m6 l6">
                                <h6 class="pt15 pb15 bold center">You can also sign in with</h6>
                                <div class="social-login">
                                    <a class="light-blue-text">
                                        <i class="fab fa-google"></i>
                                    </a>
                                    <a class="light-blue-text">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="light-blue-text">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a class="light-blue-text">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End Login Block  -->
                <!-- Register New User Block -->
                <div id="Register" class="col s12">
                    <br>
                    <form method='POST' action="{% url 'register' %}">{% csrf_token %}
                        <h6 class="bold">* Please fill up this form to register this website</h6>
                        <div class="row">
                            <div class="col s12 m6 l6">
                                <div class="input-field">
                                    <input name="register_user_name" id="register_user_name" type="text"
                                           class="validate">
                                    <label for="register_user_name">Username</label>
                                </div>
                                <div class="input-field">
                                    <input name="register_email_address" id="register_email_address" type="email"
                                           class="validate">
                                    <label for="register_email_address">Email</label>
                                </div>
                                <div class="input-field">
                                    <input name="register_password" id="register_password" type="password"
                                           class="validate">
                                    <label for="register_password">Password</label>
                                </div>
                                <div class="input-field">
                                    <input name="register_confirm_password" id="register_confirm_password" type="password"
                                           class="validate">
                                    <label for="register_confirm_password">Retype Password</label>
                                    <span id='message'></span>
                                </div>
                            </div>
                            <div class="col s12 m6 l6">
                                <div class="input-field">
                                    <input id="first_name" type="text" class="validate">
                                    <label for="first_name">First Name</label>
                                </div>
                                <div class="input-field">
                                    <input id="last_name" type="text" class="validate">
                                    <label for="last_name">Last Name</label>
                                </div>
                                <div class="input-field">
                                    <input id="occupation" type="text" class="validate">
                                    <label for="occupation">What you do</label>
                                </div>
                                <div class="input-field">
                                    <input id="mobile_number" type="text" class="validate">
                                    <label for="mobile_number">Mobile Number</label>
                                </div>
                            </div>
                        </div>
                        <div class="center">
                            <button class="btn btn-info btn-large" type="button" onclick="RegisterUser()">Register</button>
                        </div>
                    </form>
                </div>
                <!-- End Register User block -->
            </div>
        </div>
    </div>
