{% load static %}
<!-- Frameworks -->
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/hover-box.js' %}"></script>

<!--Project Scripts-->
<script src="{% static 'js/app/main.js' %}" type="text/javascript"></script>
<script src="{% static 'js/app/login.js' %}" type="text/javascript"></script>
<script src="{% static 'js/app/utility.js' %}" type="text/javascript"></script>

<!--Module Scripts-->
<script src="{% static 'js/app/books.js' %}" type="text/javascript"></script>